In [ ]:
import pandas as pd
parking_size = pd.DataFrame({"동명":["광희동","다산동","동화동","명동","신당5동",
                                     "신당동","약수동","을지로동","장충동","중림동",
                                     "청구동","필동","회현동","소공동","황학동"], 
                            "구획수":[32,67,27,5,39,36,2,25,67,40,61,130,8,37,13]})
parking_size = parking_size.sort_values("동명")
parking_size = parking_size.reset_index(drop=True)
parking_size
# 신당5동 데이터가 결측치라 평균값으로 메꿈

      동명  구획수
0    광희동   32
1    다산동   67
2    동화동   27
3     명동    5
4    소공동   37
5   신당5동   39
6    신당동   36
7    약수동    2
8   을지로동   25
9    장충동   67
10   중림동   40
11   청구동   61
12    필동  130
13   황학동   13
14   회현동    8

In [ ]:
import pandas as pd
map_data = {"dong":["소공동","회현동","명동","필동","장충동","광희동","을지로동","신당동",
                         "다산동","약수동","청구동","동화동","황학동","중림동","신당5동"],
            "day":[691800000,616600000,870700000,238700000,185900000,402700000,383300000,279200000,167200000,123600000,
                   98320000,99670000,123200000,123200000,314577900],
            "night":[92720000,83720000,118100000,82170000,84360000,179500000,90470000,156580000,
                     150700000,153900000,126300000,108600000,14300000,14300000,103980000]}
Map_data = pd.DataFrame(map_data)
Map_data = Map_data.sort_values("dong")
Map_data = Map_data.reset_index(drop=True)
Map_data
# 신당5동 데이터가 결측치라 평균값으로 메꿈

    dong        day      night
0    광희동  402700000  179500000
1    다산동  167200000  150700000
2    동화동   99670000  108600000
3     명동  870700000  118100000
4    소공동  691800000   92720000
5   신당5동  314577900  103980000
6    신당동  279200000  156580000
7    약수동  123600000  153900000
8   을지로동  383300000   90470000
9    장충동  185900000   84360000
10   중림동  123200000   14300000
11   청구동   98320000  126300000
12    필동  238700000   82170000
13   황학동  123200000   14300000
14   회현동  616600000   83720000

In [ ]:
Map_data = Map_data.sort_values(by='dong')

In [ ]:
print(Map_data)

    dong        day      night
0    광희동  402700000  179500000
1    다산동  167200000  150700000
2    동화동   99670000  108600000
3     명동  870700000  118100000
4    소공동  691800000   92720000
5   신당5동  314577900  103980000
6    신당동  279200000  156580000
7    약수동  123600000  153900000
8   을지로동  383300000   90470000
9    장충동  185900000   84360000
10   중림동  123200000   14300000
11   청구동   98320000  126300000
12    필동  238700000   82170000
13   황학동  123200000   14300000
14   회현동  616600000   83720000

In [ ]:
Map_data.to_csv("daynight.csv", index = False)